In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
##Load the dataset
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
## Preprocess the data
### Drop irrelevant features
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [6]:
##encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  int32
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int32(1), int64(7), object(1)
memory usage: 820.4+ KB

In [8]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [9]:
### onehot ecoding for geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [10]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [13]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [17]:
##combine the encoded columns with the original data
data=pd.concat([data,geo_encoded_df],axis=1)

In [18]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [19]:
## save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [20]:
## Divide thee data set into dependent and independent variables
x=data.drop('Exited',axis=1)
y=data['Exited']

##split the data in traiinning and testing sets
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

## Scale the data
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [21]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [22]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [23]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [ ]:
ANN IMPLEMENTATION

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [25]:
## Build the ANN model
model=Sequential([
Dense(64,activation='relu',input_shape=(x_train.shape[1],)), ##HL1 connected with input layer
Dense(32,activation='relu'),##hl2
Dense(1,activation='sigmoid') ##output layer
])

WARNING:tensorflow:From r:\NLP\myannclassification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [26]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
## compile the model 
model.compile(optimizer="adam",loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From r:\NLP\myannclassification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [ ]:
## setup the tesnor board 
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [30]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard


tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [34]:
## setup early stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [35]:
##TRain the model
model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3227 - accuracy: 0.8656 - val_loss: 0.3365 - val_accuracy: 0.8630
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3204 - accuracy: 0.8676 - val_loss: 0.3350 - val_accuracy: 0.8620
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3200 - accuracy: 0.8655 - val_loss: 0.3374 - val_accuracy: 0.8595
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3181 - accuracy: 0.8679 - val_loss: 0.3330 - val_accuracy: 0.8635
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3171 - accuracy: 0.8699 - val_loss: 0.3357 - val_accuracy: 0.8615
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3156 - accuracy: 0.8702 - val_loss: 0.3378 - val_accuracy: 0.8630
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3147 - accuracy: 0.8681 - val_loss: 0.3343 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3129 - accuracy: 0.8675 - val_loss: 0.3344 - val_accuracy: 0.8620
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3125 - accuracy: 0.8711 - val_loss: 0.3349 - val_accuracy: 0.8600
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3115 - accuracy: 0.8684 - val_loss: 0.3370 - val_accuracy: 0.8610
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3105 - accuracy: 0.8698 - val_loss: 0.3345 - val_accuracy: 0.8595
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3097 - accuracy: 0.8714 - val_loss: 0.3473 - val_accuracy: 0.8555
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3077 - accuracy: 0.8710 - val_loss: 0.3335 - val_accuracy: 0.8630
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3071 - accuracy: 0.8686 - val_loss: 0.3351 - val_accuracy: 0.8590

In [36]:
model.save('model.h5')

r:\NLP\myannclassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [37]:
##load tensor board extension
%load_ext tensorboard

In [40]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 77240), started 0:02:13 ago. (Use '!kill 77240' to kill it.)

In [ ]:
### load the pickle files
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [44]:
## load the trained model,scalar pickle file and one hot
model=load_model('model.h5')

##load the encoder and scalaer
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [49]:
input_data = {
    'CreditScore': 750,
    'Gender': 'Male',
    'Age': 35,
    'Tenure': 5,
    'Balance': 50000.0,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 80000.0,
    'Geography': 'France',
    'IsActiveMember': 1,
    'NumOfProducts': 2,
}

In [50]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

r:\NLP\myannclassification\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [53]:
geo_encoded_df
input_df=pd.DataFrame([input_data])
input_df

   CreditScore Gender  Age  ...  IsActiveMember  EstimatedSalary  Geography
0          750   Male   35  ...               1          80000.0     France

[1 rows x 10 columns]

In [54]:
##encode the categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

   CreditScore  Gender  Age  ...  IsActiveMember  EstimatedSalary  Geography
0          750       1   35  ...               1          80000.0     France

[1 rows x 10 columns]

In [55]:
##concat the onehot and original data
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          750       1  ...                0.0              0.0

[1 rows x 12 columns]

In [58]:
## scaling th input data
input_scaled=scaler.transform(input_df)

In [59]:
##predict 
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 100ms/step

array([[0.01029446]], dtype=float32)

In [61]:
pred_proba=prediction[0][0]
pred_proba

0.01029446

In [62]:
if pred_proba>0.5:
    print("Customer is likely to exit the bank")    
else:
    print("Customer is likely to stay with the bank")

Customer is likely to stay with the bank